@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

body {
    font-family: Montserrat, sans-serif;
}


.logo {
    height: 80px;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    font-size: 16px;
    margin-left: 2rem;
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-left: 8rem;

}

header ul li a {
    color: rgb(17, 17, 17);
    text-decoration: none;
}


.nav-menu {
    padding-left: 15px;
}

.title {
  background-image: url(image/Rectangle\ 48.png);
  height: 619px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

 
 
}

.texte{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50%;
}
/* header */

h1 {
    padding-left: 100px;
}


h2{
    text-align:center;
    padding-bottom: 20px;
}
.info1{
    display: flex;
    justify-content: space-around;
    padding-right: 100px;    
}

.info2{
    display: flex;
    justify-content: space-around;
    padding-right: 100px;    
}
input {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 40px;

}


.maps{
    display: flex;

    padding-left: 200px ;
}

iframe {
width: 941px;
height: 500px;
left: 100px;
top: 1875px;

}


/* button */
button {
    border: 0;
    line-height: 2.5;
    width: 120px;
    padding: 0 18px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #FA4A0C;
    box-shadow: 1px 1px 5px #B73227;


}

.button1{
    display: flex;
    justify-content: end;
    margin: 50px 0px 35px 100px;
    border-radius: 8px;
}

p {
        margin-top: 63px;
    margin-left: 50px;
}

.btn{
    display: flex;
}


.div_button {
    padding: 50px 0px 35px 100px;
    display: flex;
}

/* button */


.chose {
    display: flex;
}
.grp_choose {
    padding-left: 200px;
}

.label_choose input {
    width: 938px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px 12px;
    color: grey;
    border-radius: 5px;
    border-color: gray;
}
.label_message {
    padding-top: 25px;
}
textarea {
    width: 938px;
    height: 141px;
    margin-bottom: 20px;
    color: grey;
    border-color: gray;
    margin-top: 12px;
    padding: 10px 10px 80px;
    outline: none;
    border-radius: 5px;
    resize: none;
}

.g-recaptcha {
    padding-left: 200px;
    margin-bottom: 60px;
}

@media (max-width:700px) {
    .info1 {
        display: flex;
        flex-direction: column;
    }

} 

@media screen and (min-width:701px) and (max-width:1199px) {




}
